.node-type-article {
	#page-header {
		.header-banner-text {
			margin: 0;
			color: $white;
			align-items: flex-start;
			text-align: left;
			min-height: 550px;
			h1, p, .article-btn-header {
				color: $white;
				margin: 0;
				padding: $vert-spacing-unit*2 $horz-spacing-unit;
				background-color: $base;
				width: 100%;
			}
			h1 {
				padding: $vert-spacing-unit $horz-spacing-unit;
			}
			.article-item {
				padding-bottom: $vert-spacing-unit;
			}
		}
		&:before {
			min-height: 550px;
		}
	}
}

.view-id-articles {
	.article-item {
		margin-top: $vert-spacing-unit;
		margin-bottom: $vert-spacing-unit;
		.article-image {
			margin-bottom: $vert-spacing-unit;
		}
		.btn {
			margin-top: $vert-spacing-unit*2;
		}
		.subtitle {
			margin-top: 0;
		}
	}
	&.view-display-id-attachment_1,
	&.view-display-id-block_1 {
	.article-image {
		img {
			-webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
		}
	}
}
}
@media (min-width: $screen-sm-min) {
	.view-id-articles {
	.article-item {
		.article-image {
			margin-bottom: 0;
		}
	}
}
}
