body {
  	background-color: white;
}
.container-fluid {
	box-shadow: 5px 3px 40px rgba(0, 0, 0, 0.5)
}
.no-hero {
	margin-top: $vert-spacing-unit;
	padding-top: $vert-spacing-unit;
}
.alert {
	display: none;
	visibility: hidden;
}