.main-container.container {
	margin-bottom: $vert-spacing-unit *2;
}
#page-header {
	min-height: 375px;
	position: relative;
	z-index: -2;
	&:before {
		height: 375px;
		background: rgba(255,255,255,0.5);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.header-banner-text {
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		min-height: 375px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
#block-views-contact-form-block-3 {
	h2 {
		color: $dark-grey;
	}
}
.view-synergy-team {
	.product  {
		min-height: 480px;
		.border {
			&:hover,
			&:focus {
				border-color: $lightest-grey;
			}
		}
		.product-fields {
			min-height: 450px;
			.image {
		margin-bottom: 0;
		img {
			border-radius: 50%;
		}
	}

	}
}
}
.view-id-documents {
	h3 {
		clear: both;
		color: $base;
	}
	.product {
		text-align: left;
		min-height: 215px;
		img {
			margin-bottom: $vert-spacing-unit;
		}
		a {
			color: $dark-grey;
			font-size: $base-font-size/1.1;
			font-weight: $bold-font-weight;
			&:hover,
			&:focus {
				color: $dark-grey;
			}
		}
		.product-fields {
			min-height: 180px;
		}
	}
}
.link-generate {
	margin: $vert-spacing-unit 0;
	border: 1px solid $base;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	a {
		padding: $vert-spacing-unit $horz-spacing-unit;
		color: $base;
		display: block;
		height: 100%;
		width: 100%;
	}
	&:hover,
		&:focus {
			
			background-color: $base;
			a {
				color: $white;
				text-decoration: none;
			}
		}
}
.view-id-supplier {
	.view-content {
		display: flex;
		flex-wrap: wrap;
		&>div {
			flex: 1 0 50%;
			a {
			    padding: 1em;
			    margin: 1em;
			    display: block;
			    img {
					max-height: 100px;
					width: auto;
					margin: 0 auto;
				}
			}
		}
	}
}
@media (min-width: $screen-sm-min) {
	.product {
		min-height: 465px;
		.product-fields {
			min-height: 430px;
		}
	}
	.view-id-supplier {
	.view-content {
		&>div {
			flex: 1 0 25%;
		}
	}
}
}
@media (min-width: $screen-md-min) {
	.product {
		min-height: 515px;
		.product-fields {
			min-height: 485px;
		}
	}
	
}
@media (min-width: $screen-lg-min) {
	.product {
		min-height: 465px;
		.product-fields {
			min-height: 430px;
		}
	}
}