.main-container.container {
	margin-bottom: $vert-spacing-unit *2;
}
#page-header {
	min-height: 375px;
	position: relative;
	&:before {
		min-height: 375px;
		background: rgba(255,255,255,0.5);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.header-banner-text {
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		min-height: 375px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
#block-views-contact-form-block-3 {
	h2 {
		color: $dark-grey;
	}
}
.view-synergy-team {
	.product  {
		min-height: 480px;
		.border {
			&:hover,
			&:focus {
				border-color: $lightest-grey;
			}
		}
		.product-fields {
			min-height: 450px;
			.image {
		margin-bottom: 0;
		img {
			border-radius: 50%;
		}
	}

	}
}
}
.view-id-documents {
	h3 {
		clear: both;
		color: $base;
	}
	.product {
		text-align: left;
		min-height: 215px;
		img {
			margin-bottom: $vert-spacing-unit;
		}
		a {
			color: $dark-grey;
			font-size: $base-font-size/1.1;
			font-weight: $bold-font-weight;
			&:hover,
			&:focus {
				color: $dark-grey;
			}
		}
		.product-fields {
			min-height: 180px;
		}
	}
}
@media (min-width: $screen-sm-min) {
	.product {
		min-height: 465px;
		.product-fields {
			min-height: 430px;
		}
	}
}
@media (min-width: $screen-md-min) {
	.product {
		min-height: 515px;
		.product-fields {
			min-height: 485px;
		}
	}
}
@media (min-width: $screen-lg-min) {
	.product {
		min-height: 465px;
		.product-fields {
			min-height: 430px;
		}
	}
}