.standout {
	font-size: $base-font-size * 1.5;
	font-weight: $light-font-weight;
}
.main-container.container {
	margin-bottom: $vert-spacing-unit *2;
}
#page-header {
	min-height: 375px;
	position: relative;
	&:before {
		min-height: 375px;
		background: rgba(255,255,255,0.4);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.header-banner-text {
		max-width: 500px;
		text-align: center;
		margin: 0 auto;
		min-height: 375px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}