.full-width {
	background-color: $lightest-grey;
	h2 {
		color: $dark-grey;
	}
	.slick--float .slick__slide {
		margin-top: 10px;
		.slide__content {
			margin: 0 $horz-spacing-unit;
		}
		.border {
			box-shadow: 0 4px 15px 5px $light-grey;
		}
		.product-fields {
			background-color: $white;
		}
	}
	.slick__arrow {
		position: relative;
		bottom: 20px;
		width: 100px;
		margin: 0 auto;

	}
	.slick-dots {
		display: none;
		visibility: hidden;
	}
}
.container-fluid {
		.container-fluid.full-width {
			padding-bottom: $vert-spacing-unit;
		}
	}
.front {
	h1 {
		color: $white;
	}
}
@media (min-width: 480px) {
	.full-width {
		.slick__arrow {
			bottom: 5px
		}
	}
}
@media (min-width: $screen-sm-min) {
	.full-width {
		.slick__arrow {
			bottom: 5px
		}
		.slick-dots {
			display: block;
			visibility: visible;
		}
	}
	.container-fluid {
		.container-fluid.full-width {
			padding-bottom: 0;
		}
	}

}
@media (min-width: $screen-md-min) {
	.full-width {
		.slick__arrow {
			position: absolute;
			bottom: -4px;
			width: 300px;
		}
		
	}
	}