#block-views-members-block-1, #block-views-members-block-2 {
.product  {
		.border {
			&:hover,
			&:focus {
				border-color: $lightest-grey;
			}
		}
		.body {
			text-align: left;
			p, p.subtitle {
				font-size: $base-font-size;
			}
			p.standout {
				font-size: $base-font-size*1.3;
			}
		}
		.product-fields {
		.logo {
		    display: flex;
		    flex-direction: column;
		    padding: 1rem 0em;
		    height: 130px;
		    justify-content: center;
		    img {
		    	max-height: 130px;
		    }

		}
		.street-block, 
		.locality-block, 
		.country {
			color: $grey;
		}
		.light-grey
			a {
				color: $grey;
				&:focus,
				&:hover {
					color: $grey;
				}
		
		}
	}
		img {
			border-radius: 0;
			
		}
}
}
.member-page {
	width: 100%;
}
#block-views-product-range-block-4,
#block-views-product-range-block-5 {
	margin: $vert-spacing-unit*3 0;
	.product-fields {
		background-color: $white;
	}
	.border {
			box-shadow: 0 4px 15px 5px $light-grey;
		}
		.view-footer {
			clear: both;
			text-align: center;
			padding-top: $vert-spacing-unit;
		}
}
.node-type-members, .page-node-3239 {

	.container-fluid {
		.container-fluid.full-width {
			padding-top: 0;
		}
	}

}
.not-logged-in.node-type-members {
	.full-width{
		display: none;
		visibility: hidden;
	}
}