#block-views-members-block-1, #block-views-members-block-2  {
.product  {
		min-height: 345px;
		.border {
			&:hover,
			&:focus {
				border-color: $lightest-grey;
			}
		}
		.body {
			text-align: left;
			p, p.subtitle {
				font-size: $base-font-size;
			}
			p.standout {
				font-size: $base-font-size*1.3;
			}
		}
		.product-fields {
			min-height: 300px;
		.logo {
		    display: flex;
		    flex-direction: column;
		    padding: 1rem 0em;
		    height: 130px;
		    justify-content: center;

		}
		
		.light-grey, .street-block, .locality-block, .country {
			a {
				color: $grey;
				&:focus,
				&:hover {
					color: $grey;
				}
			}
		}
		img {
			border-radius: 0;
			
		}
	

	}
}
}