#block-views-members-block-1  {
.product  {
		min-height: 345px;
		.border {
			&:hover,
			&:focus {
				border-color: $lightest-grey;
			}
		}
		.body {
			text-align: left;
		}
		.product-fields {
			min-height: 300px;
		.logo {
		
		}
		
		.light-grey {
			a {
				color: $light-grey;
				&:focus,
				&:hover {
					color: $light-grey;
				}
			}
		}
		img {
			border-radius: 0;
			
		}
	

	}
}
}