.navbar-default {
  	background-color: $base;
  	font-weight: $light-font-weight;
    margin-bottom: 0;
  	.navbar-nav {
  		float: none;
  		margin: 0 -15px;
    	&> .active,
      &> li {
    		&> a {
	      		background-color: $base;
	      		color: $white;
	      		&:hover,
	      		&:focus {
	      			background-color: $accent;
	      			color: $white;
	      		}
	      	}
    	}
  	}
  	.navbar-toggle {
  		border-color: transparent;
	  	.icon-bar {
	  		background-color: white;
	  	}
	  	&:hover,
	  	&:focus {
	  		background-color: transparent;
	  	}
	}
  .open > .dropdown-menu {
    display: table;
  }
  .dropdown-menu {
    box-shadow: 5px 3px 40px rgba(0, 0, 0, 0.5);
    //display: table;
    //position: relative;
    width: 100%;
    a {
      background-color: $white;
      color: $base;
    }
  }
}

@media (min-width: $screen-sm-min) {
 	.navbar-nav {
  		display: flex;
  		margin: 7.5px -15px;
    	&> li {
      		text-align: center;
      		width: calc(100% / 7);
      		display: flex;
    		  justify-content: center;
    		&> a {
    			display: flex;
	      		flex-direction: column;
	      		justify-content: center;
	      		width: 100%;
	      		padding: $horz-spacing-unit*1.1 $vert-spacing-unit/2;
    		}
    	}
  	}
}
