.view-product-page img {
	margin: 0 auto;
	margin-bottom: $vert-spacing-unit;
}
.quicktabs-wrapper {
	margin-bottom: $vert-spacing-unit*3;
	//border: 1px solid $light-grey;
	ul.quicktabs-tabs {
		padding-left: 0;
		margin: 0;
		//border-bottom: 1px solid $light-grey;
		li {
			padding: 0;
			float: left;
			margin-bottom: -1px;
			position: relative;
			a {
				border: 1px solid $light-grey;
				border-left: transparent;
				background-color: $lightest-grey;
				color: $dark-grey;
				padding: $vert-spacing-unit/1.5 $horz-spacing-unit;
				font-weight: $bold-font-weight;
				display: block;
				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
			&.active {
				a {
					background-color: $white;
					border-bottom: 1px solid $white;
				}
			}
			&:first-child {
				border-left: 1px solid $light-grey;
			}
		}
		
	}
	.quicktabs_main {
		border: 1px solid $light-grey;
		padding: $vert-spacing-unit $horz-spacing-unit;
		clear: both;
		ul {
			margin: 0;
		}
	}
}
.features-benefits {	
	.view-content {
		font-weight: $bold-font-weight;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				display: table;
				padding: $vert-spacing-unit 0;
				font-weight: $base-font-weight;
				&:before {
					content: '\f058';
					font-family: 'FontAwesome';
					color: $base;
					display: table-cell;
					min-width: 35px;
				}
			}
		}
	}
}
.related-products {
	margin: 0 0 $vert-spacing-unit*2 0;
	h2 {
		color: $dark-grey;
	}
}
.product {
	text-align: center;
	font-size: $small-font-size;
	min-height: 390px;
	max-width: 350px;
	margin: 0 auto;
	.border {
		box-shadow: 0 4px 15px 5px $lightest-grey;
		border-radius: 10px;
		max-width: 350px;
		border: 1px solid $lightest-grey;
		&:hover,
		&:focus {
			border: 1px solid $accent;
		}
	}
	a {
		text-decoration: none;
	}
	.product-fields {
		display: flex;
		flex-direction: column;
		min-height: 360px;
		max-width: 350px;
		padding: $vert-spacing-unit*2 $horz-spacing-unit*1.5 $vert-spacing-unit*1.5;
		border: 5px solid $lightest-grey;
		border-radius: 10px;
		img {
			max-height: 175px;
			width: auto;
			margin: 0 auto;
			display:block;
		}
		.image {
			flex: 0 0 auto;
			height: 175px;
			margin-bottom:  $vert-spacing-unit*2;
		}
		.text {
			flex: 1 0 auto;
		}
		.title,
		.description {
			width: 100%;
			color: $dark-grey;
		}
		.title {
			font-size: $base-font-size/1.1;
		}
		.description {
			text-align: left;
		}
	}
}
@media (min-width: $screen-sm-min) {
	.quicktabs-wrapper {
		margin-top: $vert-spacing-unit*3;
	}
	.product {
		max-width: none;
		min-height: 415px;
		.product-fields,
		.border {
			max-width: none;
		}
		.product-fields {
			min-height: 380px;
		}
	}
}
@media (min-width: $screen-md-min) {
	.product {
		min-height: 430px;
		.product-fields {
			min-height: 395px;
		}
	}
}
@media (min-width: $screen-lg-min) {
	.product {
		min-height: 410px;
		.product-fields {
			min-height: 375px;
		}
	}
}