.user-menu {
	margin-top: 19.5px;
	&.col-md-8 {
		padding-right: 0;
	}
	ul {
		display: flex;
		justify-content: flex-end;
		li {
			&.phone {
				padding-right: 0;
				a {
					font-size: $base-font-size/1.2;
					color: $base;
					text-decoration: none;
					border: 1px solid $base;
					border-radius: 4px;
					padding: $horz-spacing-unit/2.5 $vert-spacing-unit;
					display: inline-block;
					font-weight: $light-font-weight;
				}
				&:before {
					font-family: 'FontAwesome';
					content: '\f095';
					color: $base;
					font-size: 20px;
					display: inline-block;
					padding-right: $horz-spacing-unit/2;
					line-height: 1;
				}
			}
			&.login {
				font-size: $small-font-size;
				padding: $horz-spacing-unit/2.5 0;
				line-height: 2;

				.log-in {
					padding-right: $horz-spacing-unit;
				}
				.sign-up {
					padding-left: $horz-spacing-unit;
				}
				.mobile-hide {
					display: none;
					visibility: hidden;
					a {
						color: $base-font-color;
					}
				}
			}
		}
	}
}
@media (min-width: $screen-sm-min) {
	.user-menu {
		margin-top: 19.5px;
		ul {
			li {
				&.phone {
					margin-right: $horz-spacing-unit*3;
					a {
						font-size: $base-font-size;
						padding: $horz-spacing-unit/2.5 $vert-spacing-unit*2;
					}
					&:before {
						padding-right: $horz-spacing-unit;
					}
				}
				&.login {
					.mobile-hide {
						display: block;
						visibility: visible;
					}
				}
			}
		}
	}
}
@media (min-width: $screen-md-min) {
	.user-menu {
		margin-top: 23.5px;
	}
}