.btn {
  padding: $vert-spacing-unit/2 $horz-spacing-unit;
}
.btn-primary, .button-primary {
  color: $white;
  background-color: $accent;
  border-color: $accent;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.btn-primary:focus, 
.btn-primary.focus,
.btn-primary:hover,
.button-primary:focus, 
.button-primary.focus,
.button-primary:hover,
.btn-primary:active, 
.btn-primary.active,
.btn-primary[disabled]:active, 
.btn-primary[disabled].active,
.button-primary:active, 
.button-primary.active,
.button-primary[disabled]:active, 
.button-primary[disabled].active {
    color: $white;
    background-color: lighten($accent, 5%);
    border-color: lighten($accent, 5%); 
}
.btn-primary[disabled]:hover, 
.btn-primary[disabled]:focus,
.button-primary[disabled]:hover, 
.button-primary[disabled]:focus,
.btn-secondary[disabled]:hover, 
.btn-secondary[disabled]:focus   {
	color: $white;
	background-color: $grey;
	border-color: $grey;	
}
.btn-secondary {
  color: $accent;
  background-color: $white;
  border-color: $accent;
  box-shadow: none;
}
.btn-secondary:focus, 
.btn-secondary.focus,
.btn-secondary:hover,
.btn-secondary:active, 
.btn-secondary.active,
.btn-secondary[disabled]:active, 
.btn-secondary[disabled].active {
    color: $white;
    background-color: $accent;
    border-color: $accent; 
}