.form-control {
	color: $grey;
	background-color: $lightest-grey;
	border: 0;
	padding: $vert-spacing-unit*1.5 $horz-spacing-unit*1;
	font-family: $secondary-font-family;
	border-radius: 0;
	box-shadow: none;
}
select {
	height: 48px;
}
#mc_embed_signup {
	div.mce_inline_error {
		background-color: $white !important;
		font-weight: $base-font-weight !important;
		color: $alert !important;
		font-size: $small-font-size !important;
		margin: 0 !important;
		height: 0 !important;
		padding: 0 !important;
		transition: display ease 0.2s;
	}
}
input[type='checkbox'] {
		margin-right: 1em;
		border: 1px solid $dark-grey;
		-webkit-appearance: none;
		outline: none;
		height: 10px;
		width: 10px;
		padding: 1px;
		&:checked:before {
			background: $accent;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.input-group-addon {
		display: none;
	}
select.form-control {
	height: 48px;
}
@media (min-width: 480px) {
	#mc_embed_signup {
	.form-group {
		margin-bottom: 0;
	}
}
	}