.form-control {
	color: $grey;
	background-color: $lightest-grey;
	border: 0;
	padding: $vert-spacing-unit*1.5 $horz-spacing-unit*1;
	font-family: $secondary-font-family;
}
#mc_embed_signup div.mce_inline_error {
	background-color: $white !important;
	font-weight: $base-font-weight !important;
	color: $alert !important;
	font-size: $small-font-size !important;
	margin: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	transition: display ease 0.2s;
}