html, body {
  font-size: $base-font-size;
}
body {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing;
  color: $base-font-color;
}
h1 {
  font-size: $base-font-size *3;
  &.dark-grey {
    color: $dark-grey;
  }
}
h2 {
	font-weight: $light-font-weight;
  color: $heading-font-color;
}
.subtitle {
  color: $heading-font-color;
  font-weight: $bold-font-weight;
}
.uppercase {
	text-transform: uppercase;
}
p {
  font-family: $secondary-font-family;
}
.font-small {
  font-size: $small-font-size;
}
i.fas {
  font-family: "FontAwesome";
  font-style: normal;
}