html, body {
  font-size: $base-font-size;
}
body {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing;
  color: $base-font-color;
}
h1 {
  font-size: $base-font-size *2;
}
h2 {
	font-weight: $semi-bold-font-weight;
  	color: $base-font-color;
  	font-size: $base-font-size *1.3;
    margin: $vert-spacing-unit *2 0 $vert-spacing-unit*1.5;
}
h3 {
  font-weight: $light-font-weight;
}
h4 {
  color: $heading-font-color;
  font-size: $base-font-size;
}
.subtitle {
  color: $heading-font-color;
  font-weight: $bold-font-weight;
  margin-top: $vert-spacing-unit*2;
}
.uppercase {
	text-transform: uppercase;
}
p {
  font-family: $secondary-font-family;
  margin: $vert-spacing-unit 0;
}
a {
  color: $accent;
  &:hover,
  &:focus {
    color: darken($accent, 10%);

  }
}
.font-small {
  font-size: $small-font-size;
}
i.fas {
  font-family: "FontAwesome";
  font-style: normal;
}
.standout h2 {
  color: $dark-grey;
}
.standout, .standout p, .standout p:last-child {
  font-size: $base-font-size * 1.3;
  font-weight: $light-font-weight;
  font-family: $base-font-family;
  margin: $vert-spacing-unit 0 $vert-spacing-unit*2 !important;
}
hr {
  border-top: 1px solid $base !important;
  margin: $vert-spacing-unit*2 0;
}
.dark-grey {
    color: $dark-grey;
  }
  .light-grey {
    color: $grey;
  }